h1 {
    font-family: "Creepster", system-ui;
    text-align: center;
    font-size: 50px;
}

.imagenProducto {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
    margin: 0px auto;
}